web-ui/backend/hyperrag_cache/case1/*.json filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/case1/*.hgdb filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/case2/*.json filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/case2/*.hgdb filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/**/*.json filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/**/*.jsonl filter=lfs diff=lfs merge=lfs -text
web-ui/backend/hyperrag_cache/**/*.hgdb filter=lfs diff=lfs merge=lfs -text
outputs/**/*.json filter=lfs diff=lfs merge=lfs -text
outputs/**/*.jsonl filter=lfs diff=lfs merge=lfs -text
outputs/**/*.zip filter=lfs diff=lfs merge=lfs -text
test-materials/**/*.zip filter=lfs diff=lfs merge=lfs -text
